# 03. Hands On: Data Exploration

## 1 Summarization

Load the data set carIns final. It already has the imputation of missing values.

In [5]:
#Load the data set
load("C:/Users/Paola/Documents/GitHub/hands-on-2023A/data/03_dataexploration/carIns_final.Rdata")

head(carIns_final,5)

  symb normLoss make        fuelType aspiration nDoors bodyStyle   driveWheels
1 3    161      alfa-romero gas      std        two    convertible rwd
2 3    161      alfa-romero gas      std        two    convertible rwd
3 1    161      alfa-romero gas      std        two    hatchback   rwd
4 2    164      audi        gas      std        four   sedan       fwd
5 2    164      audi        gas      std        four   sedan       4wd
  engineLocation wheelBase ⋯ engineSize fuelSystem bore stroke compressionRatio
1 front          88.6      ⋯ 130        mpfi       3.47 2.68    9
2 front          88.6      ⋯ 130        mpfi       3.47 2.68    9
3 front          94.5      ⋯ 152        mpfi       2.68 3.47    9
4 front          99.8      ⋯ 109        mpfi       3.19 3.40   10
5 front          99.4      ⋯ 136        mpfi       3.19 3.40    8
  horsePower peakRpm cityMpg highwayMpg price
1 111        5000    21      27         13495
2 111        5000    21      27         16500
3 154        5000    19      26         16500
4 102        5500    24      30         13950
5 115        5500    18      22         17450

### 1. Using the package dplyr, answer the following questions:

In [7]:
#Load packages
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

#### (a) Obtain the number of cars by bodyStyle.

In [8]:
carIns_final %>% group_by(bodyStyle) %>% count()

  bodyStyle   n
1 convertible  6
2 hardtop      8
3 hatchback   70
4 sedan       96
5 wagon       25

#### (b) Obtain the number of cars by bodyStyle and fuelType.

In [9]:
df %>% group_by(bodyStyle) %>% count()

  bodyStyle   n
1 convertible  6
2 hardtop      8
3 hatchback   70
4 sedan       96
5 wagon       25

#### (c) Obtain the mean and the standard deviation of the attribute cityMpg by bodyStyle in ascending order.

In [10]:
df %>% group_by(bodyStyle, cityMpg) %>% count

   bodyStyle   cityMpg n
1  convertible 16       1
2  convertible 17       1
3  convertible 21       2
4  convertible 24       2
5  hardtop     14       1
6  hardtop     17       2
7  hardtop     22       1
8  hardtop     24       3
9  hardtop     31       1
10 hatchback   16       2
11 hatchback   17       5
12 hatchback   19      12
13 hatchback   20       1
14 hatchback   21       2
15 hatchback   23       2
16 hatchback   24       7
17 hatchback   25       1
18 hatchback   26       6
19 hatchback   27       5
20 hatchback   28       1
21 hatchback   29       1
22 hatchback   30       4
23 hatchback   31      12
24 hatchback   35       1
25 hatchback   37       3
26 hatchback   38       3
27 hatchback   47       1
28 hatchback   49       1
29 sedan       13       1
30 sedan       14       1
⋮  ⋮           ⋮       ⋮
35 sedan       19      11
36 sedan       20       2
37 sedan       21       4
38 sedan       22       2
39 sedan       23       6
40 sedan       24       7
41 sedan       25       3
42 sedan       26       6
43 sedan       27       7
44 sedan       28       5
45 sedan       29       2
46 sedan       30       3
47 sedan       31      12
48 sedan       32       1
49 sedan       33       1
50 sedan       34       1
51 sedan       36       1
52 sedan       37       3
53 sedan       38       4
54 sedan       45       1
55 wagon       17       2
56 wagon       19       4
57 wagon       22       1
58 wagon       23       4
59 wagon       24       3
60 wagon       25       4
61 wagon       27       2
62 wagon       28       1
63 wagon       30       1
64 wagon       31       3

#### (d) Also by bodyStyle, and for the attributes cityMpg and highwayMpg, obtain the mean, the standard deviation, the median and the inter-quartile range.

In [11]:
carIns_final %>% group_by(bodyStyle) %>% summarize (cityMpg.mean=mean(cityMpg))

  bodyStyle   cityMpg.mean
1 convertible 20.50000
2 hardtop     21.62500
3 hatchback   26.31429
4 sedan       25.32292
5 wagon       24.04000

In [12]:
carIns_final %>% group_by(bodyStyle) %>% summarize (cityMpg.sd=sd(cityMpg))

  bodyStyle   cityMpg.sd
1 convertible 3.391165
2 hardtop     5.423165
3 hatchback   7.169870
4 sedan       6.599035
5 wagon       4.217819

In [13]:
carIns_final %>% group_by(bodyStyle) %>% summarize (cityMpg.mean=mean(cityMpg), cityMpg.sd=sd(cityMpg))

  bodyStyle   cityMpg.mean cityMpg.sd
1 convertible 20.50000     3.391165
2 hardtop     21.62500     5.423165
3 hatchback   26.31429     7.169870
4 sedan       25.32292     6.599035
5 wagon       24.04000     4.217819